{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/auto-complete.css' %}">
    <link rel="icon" type="image/png" href="{% static 'img/favicon.ico' %}">
    <title>{% block title %}{% endblock title %}Top 100 German Verbs</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-sm navbar-dark bg-info">
      <a class="navbar-brand" href="{% url 'home' %}">{% block brand %}{{ brand|default:'Home'}}{% endblock brand %}</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <div class="search-bar ml-auto">
          <button class="letter btn btn-light">ä</button>
          <button class="letter btn btn-light">ö</button>
          <button class="letter btn btn-light">ü</button>
          <button class="letter btn btn-light">ß</button>
        </div>
        <form class="form-inline" action="{% url 'search' %}" method="get">
          <input id="search" class="form-control my-2 ml-sm-2 mr-sm-2" name="q" maxlength="20" type="search" required>
          <input class="btn btn-light" type="submit" value="Search">
        </form>
      {% block button %}
      {% endblock button%}
      </div>
    </nav>
    {% block content %}
    {% endblock content %}
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="{% static 'js/auto-complete.js' %}"></script>
    <script src="{% static 'js/searchbar.js' %}"></script>
  </body>
</html>